<ion-content padding class="login">
  <div>
    <ion-img src="../../assets/images/diaryBG.jpg"></ion-img>
  </div>
  <form #form="ngForm">
    <h3>LOGIN</h3>
    <ion-card>
      <ion-card-content class="content">
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Email</ion-label>
          <ion-input name="email" type="email" ngModel required></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            name="password"
            type="password"
            ngModel
            required
          ></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col>
          <ion-button expand="block" color="success">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="login tool">
    <ion-button expand="full" color="primary">Register for free!</ion-button>
  </ion-toolbar>
</ion-footer>
