.postImage{
    width: 100%;
}

.wrapper{
    margin: 5px;
}

ion-label{
    font-display: 15px;
}

h3{
    text-align: center;
}

.postedby{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 30%;
}